.ant-checkbox-wrapper {
  .ant-checkbox {
    .ant-checkbox-input {
      border: 1px solid red !important;
    }

    .ant-checkbox-inner {
      width: 16px !important;
      height: 16px !important;
      border: 1px solid #64748b !important;
      background-color: transparent !important;
    }

    &.ant-checkbox-checked {
      .ant-checkbox-inner {
        border: none !important;
        background-color: #00b795 !important;
      }
    }
  }

  &.checkbox-selector-wrapper {
    .ant-checkbox-inner {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
